@model NewPasswordViewModel
@{
    var localizer = ViewData["Localizer"] as IStringLocalizer;
    var user = ViewData["User"] as AppUser;
    var result = TempData["ChangePasswordResult"] as string;
}
<style>
    .password-field i {
        position: absolute;
        top: 0.6rem;
        right: 1rem;
        cursor: pointer;
    }
</style>
<main>
    <!-- section -->
    <section>
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center d-md-none py-4">
                        <!-- heading -->
                        <h3 class="fs-5 mb-0">Account Setting</h3>
                        <!-- button -->
                        <button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3 " type="button"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount" aria-controls="offcanvasAccount">
                            <i class="bi bi-text-indent-left fs-3"></i>
                        </button>
                    </div>
                </div>
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-12 border-end  d-none d-md-block">
                    <div class="pt-10 pe-lg-10">
                        <!-- nav item -->
                        <ul class="nav flex-column nav-pills nav-pills-dark">
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="user" asp-action="orders" asp-route-Id="@user.Id" asp-route-page="1">
                                    <i class="feather-icon icon-shopping-bag me-2"></i>
                                    @localizer["User_YourOrders"]
                                </a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="user" asp-action="update" asp-route-Id="@user.Id">
                                    <i class="feather-icon icon-settings me-2"></i>@localizer["User_Account_Details"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="user" asp-action="changepassword" asp-route-Id="@user.Id">
                                    <i class="feather-icon icon-settings me-2"></i>
                                    @localizer["User_ChangePassword"]
                                </a>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <hr>
                            </li>
                            <!-- nav item -->
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="account" asp-action="logout"><i class="feather-icon icon-log-out me-2"></i>@localizer["Accout_LogOut"]</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12">
                    <div class="py-6 p-md-6 p-lg-10">
                        <div>
                            <!-- heading -->
                            <h5 class="mb-1">@localizer["User_ChangePassword"]</h5>
                                @if (result == "true")
                                {
                                    <div class="text-primary">Password changed successfully!</div>
                                }
                                else if (result == "false")
                                {
                                    <div class="text-danger">Password could not be changed!</div>
                                }
                            <div class="row mt-3">
                                <div class="col-lg-5">
                                    <!-- form -->
                                    <form method="post" asp-action="changepassword">
                                        <!-- input -->
                                        <div class="mb-3">
                                            <label asp-for="OldPassword" class="form-label">@localizer["User_OldPassword"]</label>
                                            <div class="password-field position-relative">
                                                <input asp-for="OldPassword" type="password" id="oldPassword" class="form-control" placeholder="**********">
                                                <span><i id="oldPasswordToggler" class="bi bi-eye-slash"></i></span>
                                            </div>
                                            <span class="text-danger" asp-validation-for="OldPassword"></span>
                                        </div>
                                        <!-- input -->
                                        <div class="mb-5">
                                            <label asp-for="NewPassword" class="form-label">@localizer["User_NewPassword"]</label>
                                            <div class="password-field position-relative">
                                                <input asp-for="NewPassword" type="password" id="newPassword" class="form-control" placeholder="**********">
                                                <span><i id="newPasswordToggler" class="bi bi-eye-slash"></i></span>
                                            </div>
                                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                                        </div>
                                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                        <!-- button -->
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary">@localizer["User_Save"]</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    var oldPassword = document.getElementById("oldPassword"),
        passwordtoggler = document.getElementById("oldPasswordToggler");
    showHidePassword = () => {
        "password" == oldPassword.type ? (oldPassword.setAttribute("type", "text"),
            passwordtoggler.classList.add("bi-eye"), passwordtoggler.classList.remove("bi-eye-slash")) :
            (passwordtoggler.classList.remove("bi-eye"), passwordtoggler.classList.add("bi-eye-slash"),
                oldPassword.setAttribute("type", "password"))
    }, passwordtoggler.addEventListener("click", showHidePassword);

    var newPassword = document.getElementById("newPassword"),
        newPasswordtoggler = document.getElementById("newPasswordToggler");
    showHideConfirmPassword = () => {
        "password" == newPassword.type ? (newPassword.setAttribute("type", "text"),
            newPasswordtoggler.classList.add("bi-eye"), newPasswordtoggler.classList.remove("bi-eye-slash")) :
            (newPasswordtoggler.classList.remove("bi-eye"), newPasswordtoggler.classList.add("bi-eye-slash"),
                newPassword.setAttribute("type", "password"))
    }, newPasswordtoggler.addEventListener("click", showHideConfirmPassword);
</script>