@model Store
@{
    var localizer = ViewData["Localizer"] as IStringLocalizer;
    var user = ViewData["User"] as AppUser;
}
<nav class="navbar-vertical-nav d-none d-xl-block ">
    <div class="navbar-vertical">
        <div class="px-4 py-5">
            <a asp-area="" asp-controller="home" asp-action="index" class="navbar-brand">
                <img src="~/assets/images/logo/freshcart-logo.svg" alt="">
            </a>
        </div>
        <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
            <ul class="navbar-nav flex-column" id="sideNavbar">

                <li class="nav-item ">
                    <a class="nav-link @((string)ViewData["PageName"]=="Dashboard" ? "active" : "") " asp-area="storemanage" asp-controller="home" asp-action="index" asp-route-storeId="@Model.Id">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-house"></i></span>
                            <span class="nav-link-text">@localizer["Navbar_Dashboard"]</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Store Managements</span>
                </li>
                <li class="nav-item ">
                    <a class="nav-link @((string)ViewData["PageName"]=="Products" ? "active" : "")" asp-area="storemanage" asp-controller="product" asp-action="index" asp-route-page="1">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-cart"></i></span>
                            <span class="nav-link-text">
                                @localizer["Products"]
                             </span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @((string)ViewData["PageName"]=="Orders" ? "active" : "")" asp-area="storemanage" asp-controller="product" asp-action="orders" asp-route-page="1">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-bag"></i></span>
                            <span class="nav-link-text">Orders</span>
                        </div>
                    </a>
                </li>
                    @*
                    <div id="navCategoriesOrders" class="collapse "
                         data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
                            <li class="nav-item ">
                                <a class="nav-link "
                                   href="order-list.html">
                                    List
                                </a>
                            </li>
                            <!-- Nav item -->
                            <li class="nav-item ">
                                <a class="nav-link "
                                   href="order-single.html">
                                    Single

                                </a>
                            </li>
                        </ul>
                    </div>
                </li>*@

               @* <li class="nav-item ">
                    <a class="nav-link " href="customers.html">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-people"></i></span>
                            <span class="nav-link-text">Customers</span>
                        </div>
                    </a>
                </li>*@
               @* <li class="nav-item ">
                    <a class="nav-link " href="reviews.html">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-star"></i></span>
                            <span class="nav-link-text">Reviews</span>
                        </div>
                    </a>
                </li>*@
                <!-- Nav item -->

                <li class="nav-item ">
                    <a class="nav-link @((string)ViewData["PageName"]=="Settings" ? "active" : "") " asp-area="storemanage" asp-controller="home" asp-action="updateinfo" asp-route-id="@Model.Id">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-gear"></i></span>
                            <span class="nav-link-text">@localizer["User_Account_Details"]</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link @((string)ViewData["PageName"]=="ChangePassword" ? "active" : "") " asp-area="storemanage" asp-controller="home" asp-action="ChangePassword" asp-route-id="@user.Id">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-gear"></i></span>
                            <span class="nav-link-text">@localizer["User_ChangePassword"]</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="" asp-controller="account" asp-action="logout"><i class="feather-icon icon-log-out me-2"></i>@localizer["Accout_LogOut"]</a>
                </li>
                @*<li class="nav-item ">
                    <a class="nav-link " href="#">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-question-circle"></i></span>
                            <span class="nav-link-text">Help Center</span>
                        </div>
                    </a>
                </li>*@


            </ul>
        </div>
    </div>
</nav>

<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
    <div class="navbar-vertical">
        <div class="px-4 py-5 d-flex justify-content-between align-items-center">
            <a asp-area="" asp-controller="home" asp-action="index" class="navbar-brand">
                <img src="~/assets/images/logo/freshcart-logo.svg" alt="">
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
            <ul class="navbar-nav flex-column">
                <li class="nav-item ">
                    <a class="nav-link  @((string)ViewData["PageName"]=="Dashboard" ? "active" : "") " asp-area="storemanage" asp-controller="home" asp-action="index" asp-route-storeId="@Model.Id">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-house"></i></span>
                            <span>@localizer["Navbar_Dashboard"]</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item mt-6 mb-3">
                    <span class="nav-label">Store Managements</span>
                </li>
                <li class="nav-item ">
                    <a class="nav-link @((string)ViewData["PageName"]=="Products" ? "active" : "")" asp-area="storemanage" asp-controller="product" asp-action="index" asp-route-page="1">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-cart"></i></span>
                            <span class="nav-link-text">@localizer["Products"]</span>
                        </div>
                    </a>
                </li>
               @* <li class="nav-item">
                    <a class="nav-link   collapsed " href="#"
                       data-bs-toggle="collapse" data-bs-target="#navOrders" aria-expanded="false"
                       aria-controls="navOrders">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-bag"></i></span>
                            <span class="nav-link-text">Orders</span>
                        </div>
                    </a>
                    <div id="navOrders" class="collapse "
                         data-bs-parent="#sideNavbar">
                        <ul class="nav flex-column">
                            <li class="nav-item ">
                                <a class="nav-link "
                                   href="order-list.html">
                                    List
                                </a>
                            </li>
                            <!-- Nav item -->
                            <li class="nav-item ">
                                <a class="nav-link "
                                   href="order-single.html">
                                    Single

                                </a>
                            </li>
                        </ul>
                    </div>
                </li>*@
               @* <li class="nav-item ">
                    <a class="nav-link " href="customers.html">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-people"></i></span>
                            <span class="nav-link-text">Customers</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="reviews.html">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-star"></i></span>
                            <span class="nav-link-text">Reviews</span>
                        </div>
                    </a>
                </li>*@
                <li class="nav-item ">
                    <a class="nav-link @((string)ViewData["PageName"]=="Settings" ? "active" : "") " asp-area="storemanage" asp-controller="home" asp-action="updateinfo" asp-route-id="@Model.Id">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-gear"></i></span>
                            <span class="nav-link-text">@localizer["User_Account_Details"]</span>
                        </div>
                    </a>
                </li>
                 <li class="nav-item ">
                    <a class="nav-link @((string)ViewData["PageName"]=="ChangePassword" ? "active" : "") " asp-area="storemanage" asp-controller="home" asp-action="ChangePassword" asp-route-id="@user.Id">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-gear"></i></span>
                            <span class="nav-link-text">@localizer["User_ChangePassword"]</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="" asp-controller="account" asp-action="logout"><i class="feather-icon icon-log-out me-2"></i>@localizer["Accout_LogOut"]</a>
                </li>
                @*<li class="nav-item ">
                    <a class="nav-link disabled" href="#">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon"> <i class="bi bi-question-circle"></i></span>
                            <span class="nav-link-text">Help Center</span>
                        </div>
                    </a>
                </li>*@
            </ul>
        </div>
    </div>

</nav>

