@model PaginatedList<Category>
@{
    int count = (Model.Page - 1) * 5;
}

<!-- main -->
<main class="main-content-wrapper">
    <div class="container">
        <div class="row mb-8">
            <div class="col-md-12">
                <!-- page header -->
                <div class="d-md-flex justify-content-between align-items-center">
                    <div>
                        <h2>Kateqoriyalar</h2>
                    </div>
                    <div>
                        <a asp-area="manage" asp-controller="admin" asp-action="createcategory" class="btn btn-light">Kateqoriya əlavə et</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row ">
            <div class="col-xl-12 col-12 mb-5">
                <!-- card -->
                <div class="card h-100 card-lg">
                    <div class="px-6 py-6 ">
                        <div class="row justify-content-between">
                            <!-- form -->
                            <div class="col-lg-4 col-md-6 col-12 mb-2 mb-lg-0">
                                <form class="d-flex" asp-action="categories" method="get">
                                    <input class="form-control" type="search" name="categoryName" placeholder="axtar" aria-label="Search">
                                    <button type="submit" class="btn btn-primary ms-2">təsdiqlə</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- card body -->
                    <div class="card-body p-0">
                        <!-- table -->
                        <div class="table-responsive">
                            <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                                <thead class="bg-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Şəkli</th>
                                        <th>Kateqoriya adı</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Category category in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>
                                                @count
                                            </td>
                                           <td> <img src="~/uploads/categories/@category.Image" alt="Ecommerce" class="icon-shape icon-xl"></td>
                                            <td>
                                                @category.NameAz
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="feather-icon icon-more-vertical fs-5"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" asp-action="update" asp-route-id="@category.Id"><i class="bi bi-edit me-3"></i>Düzəliş et</a></li>
                                                        <li><a class="dropdown-item" asp-action="delete" asp-route-id="@category.Id"><i class="bi bi-trash me-3"></i>Sil</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.Count == 0)
                                    {
                                        <tr>
                                            <td>
                                                Axtarışa uyğun kateqoriya tapılmadı
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class=" border-top d-md-flex justify-content-between align-items-center px-6 py-6">
                        <nav class="mt-2 mt-md-0">
                            <ul class="pagination">
                                @if (Model.HasPrevious)
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link mx-1 "
                                       asp-area="manage" asp-controller="admin" asp-action="categories" asp-route-page="@(Model.Page-1)"
                                       aria-label="əvvəlki">
                                            <i class="feather-icon icon-chevron-left"></i>
                                        </a>
                                    </li>
                                }
                                @for (int i = 1; i <= Model.TotalPage; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link mx-1 active" asp-area="manage" asp-controller="admin"
                                       asp-action="categories" asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                                @if (Model.HasNext)
                                {
                                    <li class="page-item">
                                        <a class="page-link mx-1 text-body"
                                       asp-area="manage" asp-controller="admin" asp-action="categories" asp-route-page="@(Model.Page+1)"
                                       aria-label="növbəti">
                                            <i class="feather-icon icon-chevron-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>
