@{
    Layout = null;
    var localizer = ViewData["Localizer"] as IStringLocalizer;
}
@model LoginViewModel
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from freshcart.codescandy.com/pages/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 Feb 2023 10:54:38 GMT -->
<head>

    <title>FreshCart - eCommerce HTML Template</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta content="Codescandy" name="author">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-M8S4MT3EYG');
    </script>

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="~/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
    <link href="~/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/css/theme.min.css">
    <style>
        .password-field i{
            position:absolute;
            top:0.6rem;
            right:1rem;
            cursor:pointer;
        }
    </style>

</head>

<body>

    <!-- navigation -->
    <div class="border-bottom shadow-sm">
        <nav class="navbar navbar-light py-2">
            <div class="container justify-content-center justify-content-lg-between">
                <a class="navbar-brand" asp-controller="home" asp-action="index">
                    <img src="~/assets/images/logo/freshcart-logo.svg" alt="" class="d-inline-block align-text-top">
                </a>
                <span class="navbar-text">
                    <a asp-controller="account" asp-action="forgotpassword">@localizer["Account_ForgotYourPassword"]</a>
                </span>
            </div>
        </nav>
    </div>


    <main>
        <!-- section -->
        <section class="my-lg-14 my-8">
            <div class="container">
                <!-- row -->
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                        <!-- img -->
                        <img src="~/assets/images/svg-graphics/signin-g.svg" alt="" class="img-fluid">
                    </div>
                    <!-- col -->
                    <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
                        <div class="mb-lg-4 mb-2">
                            <h1 class="mb-1 h2 fw-bold">@localizer["Account_Login"] </h1>
                        </div>

                        <form method="post" asp-action="login">
                            <div class="row g-3">
                                <!-- row -->

                                 <div class="col-12">
                                    <label asp-for="Email">Email</label>
                                    <input asp-for="Email" class="form-control" placeholder="Email">
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                                <div class="col-12">
                                    <label asp-for="Password">@localizer["Account_Password"]</label>
                                    <div class="password-field position-relative">
                                        <input asp-for="Password" type="password" id="password" class="form-control" placeholder="@localizer["Account_EnterPassword"]">
                                        <span><i id="passwordToggler" class="bi bi-eye-slash"></i></span>
                                    </div>
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <!-- form check -->
                                    <div class="form-check">
                                        <input asp-for="RememberMe" class="form-check-input">
                                        <!-- label --> <label asp-for="RememberMe" class="form-check-label">
                                            @localizer["Account_RememberMe"]
                                        </label>
                                    </div>
                                </div>
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <!-- btn -->
                                <div class="col-12 d-grid">
                                    <button type="submit" class="btn btn-primary">@localizer["Account_Login"]</button>
                                </div>
                                <!-- link -->
                                <div>@localizer["Account_DontHaveAnyAccount"]<a asp-controller="account" asp-action="memberregister"> @localizer["Account_Register"]</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </main>




    <!-- Footer -->
    <!-- footer -->
    @await Html.PartialAsync("_FooterPartial");
    <!-- Javascript-->

    <script>
        var password = document.getElementById("password"),
            passwordtoggler = document.getElementById("passwordToggler");
        showHidePassword = () => {
            "password" == password.type ? (password.setAttribute("type", "text"),
                passwordtoggler.classList.add("bi-eye"), passwordtoggler.classList.remove("bi-eye-slash")) :
                (passwordtoggler.classList.remove("bi-eye"), passwordtoggler.classList.add("bi-eye-slash"),
                    password.setAttribute("type", "password"))
        }, passwordtoggler.addEventListener("click", showHidePassword);
    </script>
    <!-- Libs JS -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>

    <!-- Theme JS -->
    <script src="~/assets/js/theme.min.js"></script>




</body>


<!-- Mirrored from freshcart.codescandy.com/pages/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 Feb 2023 10:54:38 GMT -->
</html>