@model PaginatedList<Store>
@{
    int count = (Model.Page - 1) * 15;
}

<!-- main -->
<main class="main-content-wrapper">
    <div class="container">
        <div class="row mb-8">
            <div class="col-md-12">
                <!-- page header -->
                <div class="d-md-flex justify-content-between align-items-center">
                    <div>
                        <h2>Mağazalar</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row ">
            <div class="col-xl-12 col-12 mb-5">
                <!-- card -->
                <div class="card h-100 card-lg">
                    <div class="px-6 py-6 ">
                        <div class="row justify-content-between">
                            <!-- form -->
                            <div class="col-lg-4 col-md-6 col-12 mb-2 mb-lg-0">
                                <form class="d-flex" asp-action="stores" method="get">
                                    <input class="form-control" type="search" name="storeName" placeholder="axtar" aria-label="Search">
                                    <button type="submit" class="btn btn-primary ms-2">təsdiqlə</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- card body -->
                    <div class="card-body p-0">
                        <!-- table -->
                        <div class="table-responsive">
                            <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                                <thead class="bg-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Şəkili</th>
                                        <th>Mağaza adı</th>
                                        <th>Email</th>
                                        <th>Əlaqə nömrəsi</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Store store in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>
                                                @count
                                            </td>
                                            <td>
                                                @if (store.LogoImage != null)
                                                {
                                                    <a asp-area="" asp-controller="store" asp-action="index" asp-route-storeId="@store.Id" asp-route-page="1"> <img src="~/uploads/stores/@store.LogoImage" alt="Ecommerce" class="icon-shape icon-xl"></a>
                                                }
                                                else
                                                {
                                                    <a asp-area="" asp-controller="store" asp-action="index" asp-route-storeId="@store.Id" asp-route-page="1"> <img src="~/assets/images/logo/FreshCartLogo.png" alt="Ecommerce" class="icon-shape icon-xl"></a>
                                                }
                                            </td>
                                            <td>
                                                <a asp-area="" asp-controller="store" asp-action="index" asp-route-storeId="@store.Id" asp-route-page="1">
                                                    @store.StoreName
                                                </a>
                                            </td>
                                            <td>
                                                <a asp-area="" asp-controller="store" asp-action="index" asp-route-storeId="@store.Id" asp-route-page="1">
                                                    @store.Email
                                                </a>
                                            </td>
                                            <td>
                                                <a asp-area="" asp-controller="store" asp-action="index" asp-route-storeId="@store.Id" asp-route-page="1">
                                                    @store.PhoneNumber1
                                                </a>
                                            </td>
                                            @if (store.IsActive)
                                            {
                                                <td>
                                                    Təsdiqlənib
                                                </td>
                                            }
                                            else
                                            {
                                                <td>Təsdiqlənmiyib</td>
                                            }  

                                        </tr>
                                    }
                                @if (Model.Count == 0)
                                {
                                    <tr>
                                        <td>
                                           Axtarışa uyğun mağaza tapılmadı
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class=" border-top d-md-flex justify-content-between align-items-center px-6 py-6">
                        <nav class="mt-2 mt-md-0">
                            <ul class="pagination">
                                @if (Model.HasPrevious)
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link mx-1 "
                                       href="#"
                                       aria-label="əvvəlki">
                                            <i class="feather-icon icon-chevron-left"></i>
                                        </a>
                                    </li>
                                }
                                @for (int i = 1; i <= Model.TotalPage; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link mx-1 active" asp-area="manage" asp-controller="dashboard"
                                       asp-action="stores" asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                                @if (Model.HasNext)
                                {
                                    <li class="page-item">
                                        <a class="page-link mx-1 text-body"
                                       href="#"
                                       aria-label="növbəti">
                                            <i class="feather-icon icon-chevron-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>