@model PaginatedList<Product>
@{
    int count = (Model.Page - 1) * 15;
    var localizer = ViewData["Localizer"] as IStringLocalizer;
    var language = (string)ViewData["Language"] as string;
}

   <!-- main -->
    <main class="main-content-wrapper">
      <div class="container">
        <div class="row mb-8">
          <div class="col-md-12">
            <!-- page header -->
            <div class="d-md-flex justify-content-between align-items-center">
              <div>
                        <h2>@localizer["Products"]</h2>
              </div>
              <!-- button -->
              <div>
                        <a asp-area="storemanage" asp-controller="product" asp-action="addproduct" class="btn btn-primary">
                            @localizer["Add_Product"]
                        </a>
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="row ">
          <div class="col-xl-12 col-12 mb-5">
            <!-- card -->
            <div class="card h-100 card-lg">
              <div class="px-6 py-6 ">
                <div class="row justify-content-between">
                  <!-- form -->
                  <div class="col-lg-4 col-md-6 col-12 mb-2 mb-lg-0">
                    <form class="d-flex" asp-action="index" method="get">
                       <input class="form-control" name="productName" type="search" placeholder="@localizer["Search"]" aria-label="Search">
                      <button type="submit" class="btn btn-primary ms-2">@localizer["User_Save"]</button>
                    </form>
                  </div>
                </div>
              </div>
              <!-- card body -->
              <div class="card-body p-0">
                <!-- table -->
                <div class="table-responsive">
                  <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                    <thead class="bg-light">
                      <tr>
                        <th>#</th>
                                        <th>@localizer["Image"]</th>
                                        <th>@localizer["Product_Name"]</th>
                                        <th>@localizer["Category"]</th>
                                        <th>@localizer["Sale_Price"]</th>
                                        <th>@localizer["Cost_Price"]</th>
                                        <th>@localizer["Discount_Percentage"]</th>
                                        <th>@localizer["Creation_Time"]</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                                    @foreach(Product product in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>
                                                @count
                                            </td>
                                            <td>
                                                @if (product.ProductImages.FirstOrDefault(x => x.IsPoster == true)?.Image!=null)
                                                {
                                                    <a asp-area="" asp-controller="product" asp-action="detail" asp-route-productId="@product.Id"> <img src="~/uploads/products/@product.ProductImages.FirstOrDefault(x=>x.IsPoster==true)?.Image" alt="Ecommerce" class="icon-shape icon-xl"></a>
                                                }
                                                else
                                                {
                                                    <a asp-area="" asp-controller="product" asp-action="detail" asp-route-productId="@product.Id"> <img src="~/assets/images/logo/FreshCartLogo.png" alt="Ecommerce" class="icon-shape icon-xl"></a>
                                                }
                                            </td>
                                            <td>@product.Name</td>
                                            <td>
                                                @if (product.Category == null)
                                                {
                                                    <a href="#" class="text-reset">
                                                        @(language == "az" ? "kateqoriya yoxdu" : "no category")
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="#" class="text-reset">
                                                        @(language == "az" ? product.Category.NameAz : product.Category.NameEn)
                                                    </a>
                                                }
                                                </td>

                                            <td>$@(product.SalePrice)</td>
                                            <td>$@(product.CostPrice)</td>
                                            <td>@(product.DiscountPercentage)%</td>
                                            <td>@(DateTime.Parse($"{product.CreatedTime}").ToString("MM/dd/yyyy"))</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="feather-icon icon-more-vertical fs-5"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" asp-action="update" asp-route-id="@product.Id"><i class="bi bi-pencil-square me-3 "></i>@localizer["Update"]</a>
                                                        </li>
                                                        <li><a class="dropdown-item" asp-action="delete" asp-route-id="@product.Id"><i class="bi bi-trash me-3"></i>@localizer["Delete"]</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                    </tbody>
                  </table>

                </div>
              </div>
              <div class=" border-top d-md-flex justify-content-between align-items-center px-6 py-6">
                        <nav class="mt-2 mt-md-0">
                            <ul class="pagination">
                                @if (Model.HasPrevious)
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link mx-1 "
                                       href="#"
                                       aria-label="@localizer["Previous"]">
                                            <i class="feather-icon icon-chevron-left"></i>
                                        </a>
                                    </li>
                                }
                                @for (int i = 1; i <= Model.TotalPage; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link mx-1 active" asp-area="storemanage" asp-controller="product"
                                       asp-action="index" asp-route-page="@i">
                                            @i
                                        </a>
                                    </li>
                                }
                                @if (Model.HasNext)
                                {
                                    <li class="page-item">
                                        <a class="page-link mx-1 text-body"
                                       href="#"
                                       aria-label="@localizer["Next"]">
                                            <i class="feather-icon icon-chevron-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
              </div>
            </div>

          </div>

        </div>
      </div>
    </main>