@model List<Store>;
@{
    int count = Model.Count();
    int productCount = 0;
}
<main>
    <div class="mt-4">
        <div class="container">
            <!-- row -->
            <div class="row ">
                <!-- col -->
                <div class="col-12">
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="me-2"><a asp-controller="home" asp-action="index">Home </a></li>
                            <li class="me-2"><i class="bi bi-chevron-right"></i></li>
                            <li class="me-2"><a asp-controller="store" asp-action="storelist">Stores</a></li>
                            <li class="me-2"><i class="bi bi-chevron-right"></i></li>
                            <li class="active" aria-current="page">Store List</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- section -->
    <section class="mt-8 ">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row ">
                <div class="col-12 ">
                    <!-- heading -->
                    <div class="bg-light d-flex justify-content-between ps-md-10 ps-6 rounded">
                        <div class="d-flex align-items-center">
                            <h1 class="mb-0 fw-bold">Stores</h1>

                        </div>
                        <div class="py-6">
                            <!-- img -->
                            <!-- img -->
                            <img src="~/assets/images/svg-graphics/store-graphics.svg" alt="" class="img-fluid">
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <section class="mt-6 mb-lg-14 mb-8">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-12">
                    <div class="mb-4">
                        <!-- title -->
                        <h6>We have <span class="text-primary">@count</span> stores now</h6>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 g-lg-4">
                <!-- col -->
                @foreach (var store in Model)
                {
                    productCount = store.Products.Count();
                    <div class="col">
                        <!-- card -->
                        <div class="card flex-row p-8 card-product ">
                            <div>
                                <!-- img -->
                                @if (store.LogoImage == null)
                                {
                                    <img src="~/assets/images/stores-logo/stores-logo-2.svg"
                                 alt=""
                                 class="rounded-circle icon-shape icon-xl" />
                                }
                                else
                                {
                                    <img src="~/uploads/stores/@store.LogoImage"
                                 alt=""
                                 class="rounded-circle icon-shape icon-xl" />

                                }
                            </div>
                            <!-- content -->
                            <div class="ms-6">
                                <h5 class="mb-1"><a asp-controller="store" asp-action="index" asp-route-storeId="@store.Id" asp-route-page="1" class="text-inherit">@store.StoreName</a></h5>
                                @*<div class="small text-muted">
                                    <span>Organic</span>
                                    <span class="mx-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" fill="#C1C7C6"
                                         class="bi bi-circle-fill align-middle " viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8" />
                                        </svg>
                                    </span>
                                    <span>Groceries</span>
                                    <span class="mx-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" fill="#C1C7C6"
                                         class="bi bi-circle-fill align-middle " viewBox="0 0 16 16">
                                            <circle cx="8" cy="8" r="8" />
                                        </svg>
                                    </span>
                                    <span>Butcher Shop</span>
                                </div>*@
                               @*<div class="py-3">
                                    <ul class="list-unstyled mb-0 small">
                                        <li>
                                            Product count : <span>@productCount</span>
                                        </li>
                                    </ul>
                                </div>*@
                               <div>
                                    <!-- badge -->
                                    <div class="badge text-bg-light border">Product count : <span>@productCount</span></div>
                                    <!-- badge -->
                                    @*<div class="badge text-bg-light border">In-store prices </div>*@


                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </section>
</main>