@model HomeViewModel
<main>
    <section class="mt-8">
        <div class="container">
            <div class="hero-slider ">
                @foreach(Slider slider in Model.Sliders)
                {
                      <div style="background: url(./uploads/sliders/@slider.Image) no-repeat; background-size: cover; border-radius: .5rem; background-position: center;">
                    <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center">
                        <span class="badge text-bg-warning">@(Model.Lang=="az" ? slider.MessageAz : slider.MessageEn)</span>

                            <h2 class="text-dark display-5 fw-bold mt-4">@(Model.Lang == "az" ? slider.HeaderTextAz : slider.HeaderTextEn)</h2>
                        <p class="lead">
                                @(Model.Lang == "az" ? slider.DetailAz : slider.DetailEn)
                        </p>
                        <a href="@slider.RedirectUrl" target="_blank" class="btn btn-dark mt-3">@(Model.Lang=="az" ? slider.RedirectTextAz : slider.RedirectTextEn) <i class="feather-icon icon-arrow-right ms-1"></i></a>
                    </div>

                </div>
                }
            </div>
        </div>
    </section>

    <!-- Category Section Start-->
    <section class="mb-lg-10 mt-lg-14 my-8">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-6">

                    <h3 class="mb-0">@Model.Localizer["Categories"]</h3>

                </div>
            </div>
            <div class="category-slider ">

                @foreach(Category category in Model.Categories)
                {
                    <div class="item">
                        <a href="pages/shop-grid.html" class="text-decoration-none text-inherit">
                            <div class="card card-product mb-lg-4">
                                <div class="card-body text-center py-8">
                                    <img style="max-height:120px;max-width:120px;" src="~/uploads/categories/@category.Image" alt=""
                                     class="mb-3 img-fluid">
                                    <div class="text-truncate">@(Model.Lang == "az" ? category.NameAz : category.NameEn)</div>
                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>


        </div>
    </section>
    <!-- Popular Products Start-->
    <section class="my-lg-14 my-8">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-6">

                    <h3 class="mb-0">@Model.Localizer["Popular_Products"]</h3>

                </div>
            </div>

            <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
                @foreach(Product product in Model.PopularProducts)
                {
                    <div class="col">
                        <div class="card card-product">
                            <div class="card-body">

                                <div class="text-center position-relative ">
                                    @* <div class=" position-absolute top-0 start-0">
                                    <span class="badge bg-danger">Sale</span>
                                </div>*@
                                    <a asp-controller="product" asp-action="detail" asp-route-productId="@product.Id">
                                         <img style="max-height:112px;max-width:112px;" src="~/uploads/products/@product.ProductImages.FirstOrDefault(x=>x.IsPoster==true).Image" alt=""
                                         class="mb-3 img-fluid">
                                </a>

                                    <div class="card-product-action">
                                        <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Wishlist">
                                            <i class="bi bi-heart"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="text-small mb-1">
                                    <a href="#!" class="text-decoration-none text-muted">
                                        @if(product.Category==null){
                                        <small>
                                                @(Model.Lang == "az" ? "kateqoriya yoxdu" : "no category")
                                            </small>
                                        }
                                        else{
                                            <small>
                                                @(Model.Lang == "az" ? product.Category.NameAz : product.Category.NameEn)
                                           </small>
                                        }
                                    </a>
                                </div>
                                <h2 class="fs-6">
                                    <a asp-controller="product" asp-action="detail" asp-route-productId="@product.Id" class="text-inherit text-decoration-none">
                                       @product.Name
                                    </a>
                                </h2>
                                <div>

                                    <small class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </small> <span class="text-muted small">4.5(149)</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div>
                                        @if (product.DiscountPercentage > 0)
                                        {
                                            <span class="text-dark">@((product.SalePrice * (1 - product.DiscountPercentage / 100)).ToString("0.00"))</span>
                                        }
                                        <span class="@(product.DiscountPercentage>0 ? "text-decoration-line-through text-muted" : "text-dark") ">$@(product.SalePrice)</span>
                                    </div>
                                    <div>
                                        <a asp-controller="product" asp-action="addtobasket" asp-route-productId="@product.Id" class="btn btn-primary btn-sm add-to-basket-btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-plus">
                                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                            </svg> Add
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- Popular Products End-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-6">
                    <h3 class="mb-0">@Model.Localizer["Daily_Best_Sells"]</h3>
                </div>
            </div>
            <div class="table-responsive-xl pb-6">
                <div class="row row-cols-lg-4 row-cols-1 row-cols-md-2 g-4 flex-nowrap">
                    @*<div class="col">
                        <div class=" pt-8 px-6 px-xl-8 rounded"
                             style="background:url(./assets/images/banner/banner-deal.jpg)no-repeat; background-size: cover; height: 470px;">
                            <div>
                                <h3 class="fw-bold text-white">
                                    100% Organic
                                    Coffee Beans.
                                </h3>
                                <p class="text-white">Get the best deal before close.</p>
                                <a href="#!" class="btn btn-primary">Shop Now <i class="feather-icon icon-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                    </div>*@
                   
                   @foreach(Product discountedProduct in Model.DiscountedProducts){
                        <div class="col">
                            <div class="card card-product">
                                <div class="card-body">
                                    <div class="text-center  position-relative ">
                                        <a asp-controller="product" asp-action="detail" asp-route-productId="@discountedProduct.Id">
                                            <img style="max-height:112px;max-width:112px;" src="~/uploads/products/@discountedProduct.ProductImages.FirstOrDefault(x=>x.IsPoster==true).Image" alt=""
                                             class="mb-3 img-fluid">
                                        </a>

                                        <div class="card-product-action">
                                            <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Wishlist">
                                                <i class="bi bi-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text-small mb-1">
                                        <a href="#!" class="text-decoration-none text-muted">
                                            @if (discountedProduct.Category == null)
                                            {
                                                <small>
                                                    @(Model.Lang == "az" ? "kateqoriya yoxdu" : "no category")
                                                </small>
                                            }
                                            else
                                            {
                                                <small>
                                                    @(Model.Lang == "az" ? discountedProduct.Category.NameAz : discountedProduct.Category.NameEn)
                                                </small>
                                            }
                                        </a>
                                    </div>
                                    <h2 class="fs-6">
                                        <a asp-controller="product" asp-action="detail" asp-route-productId="@discountedProduct.Id" class="text-inherit text-decoration-none">
                                            @discountedProduct.Name
                                        </a>
                                    </h2>

                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <div>
                                            @if (discountedProduct.DiscountPercentage > 0)
                                            {
                                                <span class="text-dark">@((discountedProduct.SalePrice * (1 - discountedProduct.DiscountPercentage / 100)).ToString("0.00"))</span>
                                            }
                                            <span class="@(discountedProduct.DiscountPercentage>0 ? "text-decoration-line-through text-muted" : "text-dark") ">$@(discountedProduct.SalePrice)</span>
                                        </div>
                                        <div>
                                            <small class="text-warning">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-half"></i>
                                            </small>
                                            <span><small>4.5</small></span>
                                        </div>
                                    </div>
                                    <div class="d-grid mt-2">
                                        <a asp-controller="product" asp-action="addtobasket" asp-route-productId="@discountedProduct.Id" class="btn btn-primary add-to-basket-btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-plus">
                                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                            </svg> Add to cart
                                        </a>
                                    </div>
                                    <div class="d-flex justify-content-start text-center mt-3">
                                        <div class="deals-countdown w-100" data-countdown="@(DateTime.Parse($"{(discountedProduct.DiscountEndingDate)}").ToString("yyyy/MM/dd HH:mm:ss").Replace('.', '/'))"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   }
                
                </div>
            </div>
        </div>
    </section>
    @*<section class="my-lg-14 my-8">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="mb-8 mb-xl-0">
                        <div class="mb-6"><img src="~/assets/images/icons/clock.svg" alt=""></div>
                        <h3 class="h5 mb-3">
                            10 minute grocery now
                        </h3>
                        <p>Get your order delivered to your doorstep at the earliest from FreshCart pickup stores near you.</p>
                    </div>
                </div>
                <div class="col-md-6  col-lg-3">
                    <div class="mb-8 mb-xl-0">
                        <div class="mb-6"><img src="~/assets/images/icons/gift.svg" alt=""></div>
                        <h3 class="h5 mb-3">Best Prices & Offers</h3>
                        <p>
                            Cheaper prices than your local supermarket, great cashback offers to top it off. Get best pricess &
                            offers.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="mb-8 mb-xl-0">
                        <div class="mb-6"><img src="~/assets/images/icons/package.svg" alt=""></div>
                        <h3 class="h5 mb-3">Wide Assortment</h3>
                        <p>
                            Choose from 5000+ products across food, personal care, household, bakery, veg and non-veg & other
                            categories.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="mb-8 mb-xl-0">
                        <div class="mb-6"><img src="~/assets/images/icons/refresh-cw.svg" alt=""></div>
                        <h3 class="h5 mb-3">Easy Returns</h3>
                        <p>
                            Not satisfied with a product? Return it at the doorstep & get a refund within hours. No questions asked
                            <a href="#!">policy</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
</main>


<!-- Modal -->
<div class="modal fade" id="quickViewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-8">
                <div class="position-absolute top-0 end-0 me-3 mt-3">
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <!-- img slide -->
                        <div class="product productModal" id="productModal">
                            <div class="zoom"
                                 onmousemove="zoom(event)"
                                 style="
                  background-image: url(./assets/images/products/product-single-img-1.jpg);
                ">
                                <!-- img -->
                                <img src="~/assets/images/products/product-single-img-1.jpg"
                                     alt="">
                            </div>
                            <div>
                                <div class="zoom"
                                     onmousemove="zoom(event)"
                                     style="
                    background-image: url(./assets/images/products/product-single-img-2.jpg);
                  ">
                                    <!-- img -->
                                    <img src="~/assets/images/products/product-single-img-2.jpg"
                                         alt="">
                                </div>
                            </div>
                            <div>
                                <div class="zoom"
                                     onmousemove="zoom(event)"
                                     style="
                    background-image: url(./assets/images/products/product-single-img-3.jpg);
                  ">
                                    <!-- img -->
                                    <img src="~/assets/images/products/product-single-img-3.jpg"
                                         alt="">
                                </div>
                            </div>
                            <div>
                                <div class="zoom"
                                     onmousemove="zoom(event)"
                                     style="
                    background-image: url(./assets/images/products/product-single-img-4.jpg);
                  ">
                                    <!-- img -->
                                    <img src="~/assets/images/products/product-single-img-4.jpg"
                                         alt="">
                                </div>
                            </div>
                        </div>
                        <!-- product tools -->
                        <div class="product-tools">
                            <div class="thumbnails row g-3" id="productModalThumbnails">
                                <div class="col-3" class="tns-nav-active">
                                    <div class="thumbnails-img">
                                        <!-- img -->
                                        <img src="~/assets/images/products/product-single-img-1.jpg"
                                             alt="">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="thumbnails-img">
                                        <!-- img -->
                                        <img src="~/assets/images/products/product-single-img-2.jpg"
                                             alt="">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="thumbnails-img">
                                        <!-- img -->
                                        <img src="~/assets/images/products/product-single-img-3.jpg"
                                             alt="">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="thumbnails-img">
                                        <!-- img -->
                                        <img src="~/assets/images/products/product-single-img-4.jpg"
                                             alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ps-lg-8 mt-6 mt-lg-0">
                            <a href="#!" class="mb-4 d-block">Bakery Biscuits</a>
                            <h2 class="mb-1 h1">Napolitanke Ljesnjak</h2>
                            <div class="mb-4">
                                <small class="text-warning">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                </small><a href="#" class="ms-2">(30 reviews)</a>
                            </div>
                            <div class="fs-4">
                                <span class="fw-bold text-dark">$32</span>
                                <span class="text-decoration-line-through text-muted">$35</span><span><small class="fs-6 ms-2 text-danger">26% Off</small></span>
                            </div>
                            <hr class="my-6">
                            <div class="mb-4">
                                <button type="button" class="btn btn-outline-secondary">
                                    250g
                                </button>
                                <button type="button" class="btn btn-outline-secondary">
                                    500g
                                </button>
                                <button type="button" class="btn btn-outline-secondary">
                                    1kg
                                </button>
                            </div>
                            <div>
                                <!-- input -->
                                <!-- input -->
                                <div class="input-group input-spinner  ">
                                    <input type="button" value="-" class="button-minus  btn  btn-sm " data-field="quantity">
                                    <input type="number" step="1" max="10" value="1" name="quantity" class="quantity-field form-control-sm form-input   ">
                                    <input type="button" value="+" class="button-plus btn btn-sm " data-field="quantity">
                                </div>
                            </div>
                            <div class="mt-3 row justify-content-start g-2 align-items-center">

                                <div class="col-lg-4 col-md-5 col-6 d-grid">
                                    <!-- button -->
                                    <!-- btn -->
                                    <button type="button" class="btn btn-primary">
                                        <i class="feather-icon icon-shopping-bag me-2"></i>Add to
                                        cart
                                    </button>
                                </div>
                                <div class="col-md-4 col-5">
                                    <!-- btn -->
                                    <a class="btn btn-light"
                                       href="#"
                                       data-bs-toggle="tooltip"
                                       data-bs-html="true"
                                       aria-label="Compare">
                                        <i class="bi bi-arrow-left-right"></i>
                                    </a>
                                    <a class="btn btn-light"
                                       href="#!"
                                       data-bs-toggle="tooltip"
                                       data-bs-html="true"
                                       aria-label="Wishlist">
                                        <i class="feather-icon icon-heart"></i>
                                    </a>
                                </div>
                            </div>
                            <hr class="my-6">
                            <div>
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>Product Code:</td>
                                            <td>FBB00255</td>
                                        </tr>
                                        <tr>
                                            <td>Availability:</td>
                                            <td>In Stock</td>
                                        </tr>
                                        <tr>
                                            <td>Type:</td>
                                            <td>Fruits</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>
                                                <small>
                                                    01 day shipping.<span class="text-muted">( Free pickup today)</span>
                                                </small>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>