@model HeaderViewModel

<div class="border-bottom ">

    <div class="bg-light py-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12 text-center text-md-start">
                    @if (Model.Language == "az"){
                     <span>
                     Əlaqə e-poçtu : freshcartcompany@gmail.com
                    </span>

                    }else{

                    <span>
                      Contact email : freshcartcompany@gmail.com
                    </span>
                    }
                </div>
                <div class="col-6 text-end d-none d-md-block">
                    <div class="dropdown">
                        @if (Model.Language == "az")
                        {
                            <a class="dropdown-toggle text-decoration-none text-muted" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="me-1">
                                    <img width="16" height="12" src="~/assets/images/flags/Flag_of_Azerbaijan.svg.png" />
                                </span>Azərbaycanca 
                            </a>
                        }
                        else
                        {
                            <a class="dropdown-toggle text-decoration-none text-muted" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="me-1">
                                    <img width="16" height="12" src="~/assets/images/flags/British-flag-england.png" />
                                </span>English
                            </a>
                        }
                        <ul class="dropdown-menu">
                            <li>
                                @if (Model.Language == "en")
                                {
                                    <a class="dropdown-item " asp-controller="home" asp-action="ChangeLanguage"
                                   asp-route-culture="az-Latn-AZ">
                                        <span class="me-2">
                                            <img width="16" height="12" src="~/assets/images/flags/Flag_of_Azerbaijan.svg.png" />
                                        </span>Azerbaijan
                                    </a>
                                }
                                else
                                {
                                    <a class="dropdown-item " asp-controller="home" asp-action="ChangeLanguage"
                                   asp-route-culture="en-US">
                                        <span class="me-2">
                                            <img width="16" height="12" src="~/assets/images/flags/British-flag-england.png" />
                                        </span>İngiliscə
                                    </a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4 pt-lg-3 pb-lg-0">
        <div class="container">
            <div class="row w-100 justify-content-lg-between align-items-center gx-lg-2 gx-0">
                <div class="col-xxl-2 col-lg-3">
                    <a class="navbar-brand d-none d-lg-block" asp-controller="home" asp-action="index">
                        <img src="~/assets/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template">

                    </a>
                    <div class="d-flex justify-content-between w-100 d-lg-none">
                        <a class="navbar-brand" asp-controller="home" asp-action="index">
                            <img src="~/assets/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template">

                        </a>

                        <div class="d-flex align-items-center lh-1">

                            @if (!(User.Identity.IsAuthenticated && User.IsInRole("Store") && User.Identity.Name == Model.Store.Email))
                            {
                                <div class="list-inline me-4">
                                <div class="list-inline-item">
                                    
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-controller="user" asp-action="update" asp-route-Id="@Model.User.Id" class="text-muted">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-user">
                                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                    <circle cx="12" cy="7" r="4"></circle>
                                                </svg>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-controller="account" asp-action="login" class="text-muted">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-user">
                                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                    <circle cx="12" cy="7" r="4"></circle>
                                                </svg>
                                            </a>

                                        }
                                </div>
                                <div class="list-inline-item">

                                    <a class="text-muted position-relative " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                       href="#offcanvasExample" role="button" aria-controls="offcanvasRight">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-shopping-bag">
                                            <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                            <line x1="3" y1="6" x2="21" y2="6"></line>
                                            <path d="M16 10a4 4 0 0 1-8 0"></path>
                                        </svg>
                                       @* <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                            1
                                            <span class="visually-hidden">unread messages</span>
                                        </span>*@
                                    </a>
                                </div>
                            </div>                                
                            }
                            <!-- Button -->
                            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                     class="bi bi-text-indent-left text-primary" viewBox="0 0 16 16">
                                    <path d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </button>

                        </div>
                    </div>

                </div>
              @*  <div class="col-xxl-6 col-lg-5 d-none d-lg-block">

                    <form action="#">
                        <div class="input-group ">
                            <input class="form-control rounded" type="search" placeholder="Search for products">
                            <span class="input-group-append">
                                <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-search">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                </button>
                            </span>
                        </div>

                    </form>
                </div>*@
                @*<div class="col-md-2 col-xxl-3 d-none d-lg-block">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn  btn-outline-gray-400 text-muted" data-bs-toggle="modal"
                            data-bs-target="#locationModal">
                        <i class="feather-icon icon-map-pin me-2"></i>Location
                    </button>


                </div>*@
                <div class="col-md-2 col-xxl-1 text-end d-none d-lg-block">

                    <div class="list-inline">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Store") && User.Identity.Name == Model.Store.Email)
                        {
                            <a class="position-relative h5" asp-controller="store" asp-action="index" asp-route-storeId="@Model.Store.Id" asp-route-page="1">
                                <i class="bi bi-shop"></i>
                                <span>@Model.Localizer["Navbar_MyStore"]</span>
                            </a>
                        }
                        else{
                            <div class="list-inline-item visibility-invisible">
                                <a href="#!" class="text-muted position-relative">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-heart">
                                        <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                        </path>
                                    </svg>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                        5
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                </a>
                            </div>
                            <div class="list-inline-item">

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-controller="user" asp-action="update" asp-route-Id="@Model.User.Id" class="text-muted">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-user">
                                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                        </svg>
                                     </a>
                                }
                                else{
                                       <a asp-controller="account" asp-action="login" class="text-muted">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-user">
                                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                        </svg>
                                        </a>
                                
                                    }
                            </div>
                        <div class="list-inline-item">

                            <a class="text-muted position-relative " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                               href="#offcanvasExample" role="button" aria-controls="offcanvasRight">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-shopping-bag">
                                    <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                    <line x1="3" y1="6" x2="21" y2="6"></line>
                                    <path d="M16 10a4 4 0 0 1-8 0"></path>
                                </svg>
                               @* <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                    1
                                    <span class="visually-hidden">unread messages</span>
                                </span>*@
                            </a>

                        </div>
                       }

                    </div>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-light navbar-default py-0 py-lg-4">
        <div class="container px-0 px-md-3">
         
            <div class="offcanvas offcanvas-start p-4 p-lg-0" id="navbar-default">
                <div class="d-flex justify-content-between align-items-center mb-2 d-block d-lg-none">
                    <a asp-controller="home" asp-action="index">
                        <img src="~/assets/images/logo/freshcart-logo.svg"
                             alt="eCommerce HTML Template">
                    </a>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="d-block d-lg-none my-4">
                    @*<form action="#">
                        <div class="input-group ">
                            <input class="form-control rounded" type="search" placeholder="Search for products">
                            <span class="input-group-append">
                                <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-search">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                </button>
                            </span>
                        </div>
                    </form>*@
                    @*<div class="mt-2">
                        <button type="button" class="btn  btn-outline-gray-400 text-muted w-100 " data-bs-toggle="modal"
                                data-bs-target="#locationModal">
                            <i class="feather-icon icon-map-pin me-2"></i>Pick Location
                        </button>
                    </div>*@
                </div>
                
                <div class="d-none d-lg-block">
                    <ul class="navbar-nav align-items-center ">
                        <li class="nav-item dropdown">
                            <a class="nav-link" asp-controller="home" asp-action="index">
                                @Model.Localizer["Navbar_Home"]
                            </a>
                        </li>
                        <li class="nav-item dropdown dropdown-fullwidth">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                @Model.Localizer["Mega_Menu"]
                            </a>
                            <div class=" dropdown-menu pb-0">
                                <div class="row p-2 p-lg-4">
                                    <div class="col-lg-3 col-6 mb-4 mb-lg-0">
                                        @if (Model.Language == "az")
                                        {
                                            @foreach (Category category8 in Model.Categories8)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category8.Id" asp-route-page="1">@category8.NameAz</a>
                                            }
                                        }
                                        else
                                        {
                                            @foreach (Category category8 in Model.Categories8)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category8.Id" asp-route-page="1">@category8.NameEn</a>
                                            }
                                        }
                                    </div>
                                    <div class="col-lg-3 col-6 mb-4 mb-lg-0">
                                        @if (Model.Language == "az")
                                        {
                                            @foreach (Category category16 in Model.Categories16)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category16.Id" asp-route-page="1">@category16.NameAz</a>
                                            }
                                        }
                                        else
                                        {
                                            @foreach (Category category16 in Model.Categories16)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category16.Id" asp-route-page="1" >@category16.NameEn</a>
                                            }
                                        }
                                    </div>
                                    <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                                        @if (Model.Language == "az")
                                        {
                                            @foreach (Category category24 in Model.Categories24)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category24.Id" asp-route-page="1">@category24.NameAz</a>
                                            }
                                        }
                                        else
                                        {
                                            @foreach (Category category24 in Model.Categories24)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category24.Id" asp-route-page="1">@category24.NameEn</a>
                                            }
                                        }
                                    </div> 
                                    <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                                        @if (Model.Language == "az")
                                        {
                                            @foreach (Category category32 in Model.Categories32)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category32.Id" asp-route-page="1">@category32.NameAz</a>
                                            }
                                        }
                                        else
                                        {
                                            @foreach (Category category32 in Model.Categories32)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category32.Id" asp-route-page="1">@category32.NameEn</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                    @Model.Localizer["Account"]
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="account" asp-action="login">@Model.Localizer["Account_Login"]</a></li>
                                    <li><a class="dropdown-item" asp-controller="account" asp-action="memberregister">@Model.Localizer["Account_MemberRegister"]</a></li>
                                    <li><a class="dropdown-item" asp-controller="account" asp-action="storeregister">@Model.Localizer["Account_StoreRegister"]</a></li>
                                    <li><a class="dropdown-item" asp-controller="account" asp-action="forgotpassword">@Model.Localizer["Account_ForgotPassword"]</a></li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link" asp-controller="store" asp-action="storelist">
                                @Model.Localizer["Navbar_Stores"]
                            </a>
                        </li>
                        <li class="nav-item ">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Store"))
                                {
                                    <a class="nav-link" asp-area="storemanage" asp-controller="home" asp-action="index" asp-route-storeId="@Model.Store.Id">
                                        @Model.Localizer["Navbar_Dashboard"]
                                    </a>
                                }
                                else if (User.IsInRole("Admin"))
                                {
                                    <a class="nav-link" asp-area="manage" asp-controller="dashboard" asp-action="index">
                                        @Model.Localizer["Navbar_Dashboard"]
                                    </a>
                                }
                                else if (User.IsInRole("SuperAdmin"))
                                {
                                    <a class="nav-link" asp-area="manage" asp-controller="dashboard" asp-action="index">
                                        @Model.Localizer["Navbar_Dashboard"]
                                    </a>
                                }
                            }
                        </li>
                    </ul>
                </div>
                <div class="d-block d-lg-none h-100" data-simplebar="">
                    <ul class="navbar-nav ">
                        <li class="nav-item d-md-none pb-5">
                                @if (Model.Language == "az")
                                {
                                    <div class=" text-decoration-none text-muted">
                                        <span class="me-1">
                                            <img width="16" height="12" src="~/assets/images/flags/Flag_of_Azerbaijan.svg.png" />
                                    </span>Azərbaycanca <i class="bi bi-check-lg text-primary"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="text-decoration-none text-muted">
                                        <span class="me-1">
                                            <img width="16" height="12" src="~/assets/images/flags/British-flag-england.png" />
                                    </span>English <i class="bi bi-check-lg text-primary"></i>
                                    </div>
                                }
                                    <div>
                                        @if (Model.Language == "en")
                                        {
                                            <a class="dropdown-item " asp-controller="home" asp-action="ChangeLanguage"
                                           asp-route-culture="az-Latn-AZ">
                                                <span class="me-2">
                                                    <img width="16" height="12" src="~/assets/images/flags/Flag_of_Azerbaijan.svg.png" />
                                                </span>Azerbaijan
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item " asp-controller="home" asp-action="ChangeLanguage"
                                           asp-route-culture="en-US">
                                                <span class="me-2">
                                                    <img width="16" height="12" src="~/assets/images/flags/British-flag-england.png" />
                                                </span>İngiliscə
                                            </a>
                                        }
                                    </div>
                        </li>
                        <li class="nav-item border-top border-secondary">
                            <a class="nav-link" asp-controller="home" asp-action="index">
                                @Model.Localizer["Navbar_Home"]
                            </a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link" asp-controller="store" asp-action="storelist">
                                @Model.Localizer["Navbar_Stores"]
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                               @Model.Localizer["Mega_Menu"]
                            </a>
                            <div class=" dropdown-menu pb-0">
                                <div class="row p-2 p-lg-4">
                                    <div class="col-lg-3 col-6 mb-4 mb-lg-0">
                                        @if (Model.Language == "az")
                                        {
                                            @foreach (Category category8 in Model.Categories8)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category8.Id" asp-route-page="1">@category8.NameAz</a>
                                            }
                                        }
                                        else
                                        {
                                            @foreach (Category category8 in Model.Categories8)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category8.Id" asp-route-page="1">@category8.NameEn</a>
                                            }
                                        }
                                    </div>
                                    <div class="col-lg-3 col-6 mb-4 mb-lg-0">
                                        @if (Model.Language == "az")
                                        {
                                            @foreach (Category category16 in Model.Categories16)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category16.Id" asp-route-page="1">@category16.NameAz</a>
                                            }
                                        }
                                        else
                                        {
                                            @foreach (Category category16 in Model.Categories16)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category16.Id" asp-route-page="1">@category16.NameEn</a>
                                            }
                                        }
                                    </div>
                                    <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                                        @if (Model.Language == "az")
                                        {
                                            @foreach (Category category24 in Model.Categories24)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category24.Id" asp-route-page="1">@category24.NameAz</a>
                                            }
                                        }
                                        else
                                        {
                                            @foreach (Category category24 in Model.Categories24)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category24.Id" asp-route-page="1">@category24.NameEn</a>
                                            }
                                        }
                                    </div>
                                    <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                                        @if (Model.Language == "az")
                                        {
                                            @foreach (Category category32 in Model.Categories32)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category32.Id" asp-route-page="1">@category32.NameAz</a>
                                            }
                                        }
                                        else
                                        {
                                            @foreach (Category category32 in Model.Categories32)
                                            {
                                                <a class="dropdown-item" asp-controller="home" asp-action="searchproducts" asp-route-categoryId="@category32.Id" asp-route-page="1">@category32.NameEn</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        @*    <ul class="dropdown-menu">
                                <li class="dropdown-submenu ">
                                    <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                                        Dairy, Bread & Eggs
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Milk Drinks</a></li>
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Curd & Yogurt</a></li>
                                        <li> <a class="dropdown-item" href="pages/shop-grid.html">Eggs</a></li>
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Buns & Bakery</a></li>
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Cheese</a></li>
                                        <li> <a class="dropdown-item" href="pages/shop-grid.html">Condensed Milk</a></li>
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Dairy Products</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu ">
                                    <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                                        Vegetables & Fruits
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Vegetables</a></li>
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Fruits</a></li>
                                        <li> <a class="dropdown-item" href="pages/shop-grid.html">Exotics & Premium</a></li>
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Fresh Sprouts</a></li>
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Frozen Veg</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu ">
                                    <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                                        Cold Drinks & Juices
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Soft Drinks</a></li>
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Fruit Juices</a></li>
                                        <li> <a class="dropdown-item" href="pages/shop-grid.html">Coldpress</a></li>
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Soda & Mixers</a></li>
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Milk Drinks</a></li>
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Health Drinks</a></li>
                                        <li><a class="dropdown-item" href="pages/shop-grid.html">Herbal Drinks</a></li>
                                    </ul>
                                </li>
                            </ul>*@
                        </li>
                        <li class="nav-item dropdown">
                            @if (!User.Identity.IsAuthenticated)
                            {
                              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                    @Model.Localizer["Account"]
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="account" asp-action="login">@Model.Localizer["Account_Login"]</a></li>
                                    <li><a class="dropdown-item" asp-controller="account" asp-action="memberregister">@Model.Localizer["Account_MemberRegister"]</a></li>
                                    <li><a class="dropdown-item" asp-controller="account" asp-action="storeregister">@Model.Localizer["Account_StoreRegister"]</a></li>
                                    <li><a class="dropdown-item" asp-controller="account" asp-action="forgotpassword">@Model.Localizer["Account_ForgotPassword"]</a></li>
                                </ul>
                            }
                        </li>
                        <li class="nav-item ">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Store"))
                                {
                                    <a class="nav-link" asp-controller="store" asp-action="index" asp-route-storeId="@Model.Store.Id" asp-route-page="1">
                                        @Model.Localizer["Navbar_Dashboard"]
                                    </a>
                                }
                                else if (User.IsInRole("Admin"))
                                {
                                    <a class="nav-link" asp-area="manage" asp-controller="dashboard" asp-action="index">
                                        @Model.Localizer["Navbar_Dashboard"]
                                    </a>
                                }
                                else if (User.IsInRole("SuperAdmin"))
                                {
                                    <a class="nav-link" asp-area="manage" asp-controller="dashboard" asp-action="index">
                                        @Model.Localizer["Navbar_Dashboard"]
                                    </a>
                                }
                            }
                        </li>
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Store") && User.Identity.Name == Model.Store.Email)
                            {
                                <a class="nav-link" asp-controller="store" asp-action="index" asp-route-storeId="@Model.Store.Id" asp-route-page="1">
                                    <i class="bi bi-shop"></i>
                                    <span>@Model.Localizer["Navbar_MyStore"]</span>
                                </a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link text-danger mt-5" asp-controller="account" asp-action="logout">
                                    <span>@Model.Localizer["Accout_LogOut"]</span>
                                </a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>
</div>


<!-- Shop Cart -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header border-bottom">
        <div class="text-start">
            <h5 id="offcanvasRightLabel" class="mb-0 fs-4">Shop Cart</h5>
        </div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="">
            <!-- alert -->
            <ul class="list-group list-group-flush basketContainer">
                <!-- list group -->

                    @await Html.PartialAsync("_BasketItemVMPartial",Model.BasketItemViewModels)
            </ul>
            <!-- btn -->
            <div class="d-flex justify-content-between mt-4">
                <a asp-controller="product" asp-action="shopcart" class="btn btn-primary">Shop cart</a>
                <a href="javascript:location.reload();" class="btn btn-dark">Update Cart</a>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body p-6">
                <div class="d-flex justify-content-between align-items-start ">
                    <div>
                        <h5 class="mb-1" id="locationModalLabel">Choose your Delivery Location</h5>
                        <p class="mb-0 small">Enter your address and we will specify the offer you area. </p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="my-5">
                    <input type="search" class="form-control" placeholder="Search your area">
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6 class="mb-0">Select Location</h6>
                    <a href="#" class="btn btn-outline-gray-400 text-muted btn-sm">Clear All</a>


                </div>
                <div>
                    <div data-simplebar style="height:300px;">
                        <div class="list-group list-group-flush">

                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action active">
                                <span>Alabama</span><span>Min:$20</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Alaska</span><span>Min:$30</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Arizona</span><span>Min:$50</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>California</span><span>Min:$29</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Colorado</span><span>Min:$80</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Florida</span><span>Min:$90</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Arizona</span><span>Min:$50</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>California</span><span>Min:$29</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Colorado</span><span>Min:$80</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Florida</span><span>Min:$90</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
